@model PCPart
<div class="col-sm-3">
    <div class='card m-2 p-1 text-center'>
        <img src="~/Images/@Model.Image"
             alt='NoImage'
             class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">
                @Model.Name
            </h5>
            <p class="card-text">
                @Model.Description
            </p>
            <div class="card-text badge badge-secondary">
                <h6>@(String.Format("{0:#,##0.00;($#,##0.00);Zero}", Model.Price)) USD</h6>
            </div> @{
                var request = ViewContext.HttpContext.Request;
                var returnUrl = request.Path + request.QueryString.ToUriComponent();
            }

            <p class="mt-2">
                <a asp-action="Add"
                   asp-controller="Cart" asp-route-id="@Model.Id" asp-route-returnUrl="@returnUrl"
                   class="btn btn-primary">
                    <i class="fa fa-shopping-cart"></i> To Cart
                </a>
            </p>
        </div>
    </div>
</div>