@model ListViewModel<PCPart>

@{
    ViewData["Title"] = "VL Catalog";

    var categories = ViewData["Categories"] as IEnumerable<PCPartCategory>;
    int currentCategoryId = (int)ViewData["CurrentCategory"];

    var text = currentCategoryId != 0 ? categories.FirstOrDefault(c => c.Id == currentCategoryId)?.Name : "All";
}

<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="dropdown mt-2">
                <a class="btn btn-secondary dropdown-toggle"
                   asp-action="Index" asp-controller="Product"
                   role="button"
                   id="dropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    @text
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item"
                       asp-action="Index"
                       asp-controller="Product">All</a>
                    @foreach (var category in categories)
                    {
                        <a class="dropdown-item"
                       asp-action="Index"
                       asp-controller="Product" asp-route-categoryId="@category.Id"
                       asp-route-pageNo="1">@category.Name</a>
                    }
                </div>
            </div>
        </div>
        <div class="col-10">
            @*<div class="card-deck">
            @foreach (var part in Model)
            {
            <partial name="_ListItemPartial" model="@part" />
            }
            </div>*@
            <div class="card-group" id="list">
                <partial name="_ListPartial" model="@Model" />
            </div>
            <pager page-current="@Model.CurrentPage"
                   page-total="@Model.TotalPage"
                   action="Index"
                   controller="Product"
                   group-id="@currentCategoryId"></pager>
        </div>
    </div>
</div>